<div class="dowebok">

<div class="logo"></div>

<div class="form-item">

<input id="username" type="text" autocomplete="off" placeholder="账号">

</div>

<div class="form-item">

<input id="password" type="password" autocomplete="off" placeholder="密码">

</div>

<div class="form-item"><a href="after.html"><div>登录</div></a>
<a class="reg" href="javascript:">注册账号</a>

<a class="forget" href="javascript:">忘记密码</a>

</div>

</div>